
.circular-notice-spacer {
	border: 0px none transparent;
}

.circular-notice-index-status-label {
	margin-right: 10px;
	margin-bottom: 10px;
}

.circular-notice-index-pull-down-margin {
	margin-top: 10px;
}

.circular-notice-status-label {
	display: inline-block;
	width: 60px;
	padding: 4px 0;
}